.MovieCard {
  /* background-color: #282c34; */
  color: white;
  width: 25%;
  padding: 10px 20px;
}
.title {
  /* color: #fff; */
  font-size: 22px;
  text-align: center;
  padding: 10px 0 0 0;
}
.description{
  /* color: #fff; */
  font-size: 15px;
  text-align: justify;
  text-justify: inter-word;
}
.rate{
  /* color: #fff; */
  font-size: 12px;
}
.url{
  /* color: #fff; */
  font-size: 10px;
}
.spanRate{
  color: #ffc800;
  font-weight: bold;
  font-size: 14px;
  vertical-align: baseline;
}
.poster{
  display: block;
  margin-left: auto;
  margin-right: auto;
}